{% extends 'bases/base.html' %}
{% load staticfiles %}

{% block page_title %}     Candidate Initiatives details          {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 
<center><div class="preloader-wrapper big active" style="display:none;margin-top:15%">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
</div></center>

<div class="container stud_body">
  <h4>Candidate Initiatives details</h4>
   <input type="hidden" id="initiativeid" value="{{initiative.cand_ini_id}}">
     <div class="row">

   <div class="input-field col s12">
          <input id="univ" type="text" class="validate" value="{{initiative.cand_ini_level}}" autocomplete="off" required>
           <label for="univ">International/National/ State / university*</label>
        </div>
         <br><br>
         <div class="input-field col s12">
          <input id="seminar" type="text" class="validate" value="{{initiative.cand_ini_name}}" autocomplete="off" required>
           <label for="seminar">Seminars/ Exhibition/ Competitions etc*</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="place" type="text" class="validate" value="{{initiative.cand_ini_venue}}" autocomplete="off" required>
           <label for="place">Venue*</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="d" type="date"  autocomplete="off"class= "datepicker" value="{{initiative.cand_ini_date |date:'Y-m-d'}}" required>
          <label for="national_conference_date">Date of initiative*</label>
        </div>
         <br><br>
         {%if not initiative %}
             <center> <button class="btn waves-effect waves-light btn_send initiatives_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
         {%else%}
              <center> <button class="btn waves-effect waves-light btn_send initiatives_update_button" type="submit" name="action">Update
             <i class="fa fa-paper-plane right"></i>
             </button></center>

         {%endif%}









    </div>

</div>

{% endblock %}



{% block extrajs %}   

<script type="text/javascript" src="/static/js/student/student_details_update.js"> </script>
  {% endblock %}
