<html>

<head>
<title>SRM Profile Uploader</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/materialize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/homepage/homepage.css">
</head>

<body>

<!--navbar-->
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="left" class="responsive-img" src="/media/images/srm.jpg"
      style="height:61px;padding-left:13px">&nbsp;CSE DEPARTMENT</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-list"></i></a>
      <ul class="right hide-on-med-and-down">

        <li><a class="modal-trigger" href="#login">
        <i class="fa fa-user left"></i>&nbsp;&nbsp;Login&nbsp;&nbsp;|</a></li>
        <li><a class="modal-trigger" href="#signup"><i class="fa fa-sign-in left"></i>&nbsp;&nbsp;Sign up&nbsp;&nbsp;|</a></li>
        <li><a href="#"><i class="fa fa-envelope left"></i>&nbsp;&nbsp;Contact us</a></li>

      </ul>

      <ul class="side-nav" id="mobile-demo">

        <li><a class="modal-trigger" href="#login"><i class="fa fa-user fa-2x prefix"></i>&nbsp;Login</a></li>
        <hr>
        <li><a class="modal-trigger" href="#signup"><i class="fa fa-sign-in fa-2x prefix"></i>&nbsp;Sign up</a></li>
        <hr>
        <li><a href="#"><i class="fa fa-envelope fa-2x prefix"></i>&nbsp;Contact us</a></li>
        <hr>

      </ul>
    </div>
  </nav>
  </div>
  <!--navbar ends-->

   

   <!--slider-->
   <div class="slider" style="margin-top:-30px">
    <ul class="slides">
      <li>
        <img src="/media/homepage/slide1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Department of computer science presents</h3>
          <h5 class="light grey-text text-lighten-3">Student faculty profile bank</h5>
        </div>
      </li>
      <li>
        <img src="/media/homepage/slide2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>About you in one single portal</h3>
          <h5 class="light grey-text text-lighten-3">Update your profile and share it</h5>
        </div>
      </li>
      <li>
        <img src="/media/homepage/slide3.png"> <!-- random image -->
        <div class="caption right-align">
          <h3>Know your surrounding better</h3>
          <h5 class="light grey-text text-lighten-3">Crawl freely through any profile</h5>
        </div>
      </li>
    </ul>
  </div>
   <!--slider ends-->
 <!--para-->
   <div class="row">
      <div class="col l9 m12 s12">
         <h6> &nbsp;&nbsp;<b>AWARDS & ACHIEVEMENTS BY THE STUDENTS AND FACULTY</b></h6>
         <hr>
      </div>
   </div>

  
   <div class="row">
      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award3.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>

      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award2.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>

      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award1.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>

      <div class="col l3">
             <center class="heading bar">Upcoming events</center>
             <br>
             <marquee direction="up" scrolldelay="200" style="height:305px" onmouseover="this.stop();"
             onmouseout="this.start();">

             <ul>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             <li><a href="#" style="color:black">Bidding Farewell to Students from Hannam University, South Korea</a></li><br>
             </ul>


             </marquee>
   </div>
   </div>



   <!--para 2-->
    <div class="row">
      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award3.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>

      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award2.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>

      <div class="col l3">
           <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/media/homepage/award1.jpg" height="200" width="100">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-3">Kunal Joshi bags a Special Commendation...</span>
      <p><a href="#">Read more</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
       <div class="col l3">
             <center class="heading bar">Other events</center>
             <br>
             <marquee direction="up" scrolldelay="250" style="height:305px" onmouseover="this.stop();"
             onmouseout="this.start();">

             <ul>
             <li><a href="#">announcement 1</a></li><br>
             <li><a href="#">announcement 2</a></li><br>
             <li><a href="#">announcement 3</a></li><br>
             <li><a href="#">announcement 4</a></li><br>
             <li><a href="#">announcement 5</a></li><br>
             <li><a href="#">announcement 6</a></li><br>
             </ul>


             </marquee>
   </div>
   </div>
   <!--para 2 ends->


 <!--para ends-->


<!--modal login-->
   <div id="login" class="modal">
    <div class="modal-content">
      <h4>&nbsp;&nbsp;Login</h4>
      <div class="divider"></div>
       <br>
      <form method="post" action="{%url 'user_login' %}">
          {% csrf_token %}
          <div class="input-field">
          <i class="fa fa-sort-numeric-asc prefix"></i>
          <input id="registration_number" name="registration_number" type="text" class="validate" autocomplete="off" required>
          <label for="">Registration number</label>
          </div>

          <div class="input-field col l6 s12">
          <i class="fa fa-key prefix"></i>
          <input id="login_password" name="password"  type="password" class="validate" autocomplete="off" required>
          <label for="login_password">Password</label>
          </div>

          <div class="row">
          <a href="#"><center id="forgotpassword">Forgot password?</center></a>
          </div>

          <br>

          <center> <button class="btn btn_login" type="submit" name="action">LOGIN
          <i class="fa fa-paper-plane right"></i>
          </button></center>
          </div>

      </form>
       
    </div>
  </div>

<!--modal login ends-->


<!--modal sign up-->
<div id="signup" class="modal" style="margin-top:-55px!important;max-height:100%!important">
    <div class="modal-content">
      <h4>&nbsp;&nbsp;SIGNUP</h4>
      <div class="divider"></div>
       <br>
      <form method="post" action="{%url 'user_signup' %}">
         {% csrf_token %}
         <div class="input-field">
          <i class="fa fa-user prefix"></i>
          <input name="profilename" type="text" class="validate" autocomplete="off" required>
          <label for="name">Name</label>
          </div>

           <div class="input-field">
          <i class="fa fa-sort-numeric-asc prefix"></i>
          <input id="username" name="username" type="text" class="validate" autocomplete="off" required>
          <label for="name">Registration number</label>
          </div>

          <div class="input-field">
          <i class="fa fa-envelope prefix"></i>
          <input id="email" name="email" type="text" class="validate" autocomplete="off" required>
          <label for="email">Email</label>
          </div>

          <div class="input-field col l6 s12">
          <i class="fa fa-key prefix"></i>
          <input id="password" name="password" type="password" class="validate" autocomplete="off" required>
          <label for="password">Choose Password</label>
          </div>

           <div class="input-field col l6 s12">
          <i class="fa fa-key prefix"></i>
          <input id="password"  type="password" class="validate" autocomplete="off" required>
          <label for="password">Confirm Password</label>
          </div>

           <div class="input-field col s6">
           <i class="fa fa-calendar prefix"></i>
          <input id="date" name="candidate_dob" id="date" type="date" placeholder="Date of birth" required>
        </div>

          
          <div class="input-field col s12">
          <i class="fa fa-graduation-cap left"></i>
          <select name="candidate_type">
          <option value="" disabled id="Candidatetype" selected required>Candidate type</option>
          <option value="Student">Student</option>
          <option value="Faculty">Faculty</option>
          </select>
          </div>

         

          

          <br><br><br>

          <center> <button class="btn btn_signup" type="submit" name="action">SIGN UP
          <i class="fa fa-paper-plane right"></i>
          </button></center>
          </div>

      </form>
       
    </div>
  </div>
<!--modal sign up-->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/homepage/homepage.js"></script>

<!--footer-->
<div class="row foot">
 <center>@copyright</center>
</div>
<!--footer-->
<script>
$(document).ready(function(){
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
});
</script>

{%if messages %}
          {% for message in messages %}
          <script>
          $(document).ready(function(){
          Materialize.toast('{{message}}', 5000)

          })
          </script>
          {%endfor%}
        {%endif%}
</body>


</html>

