{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}    Software Development Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<div class="container">
<h2>Software Developed</h2>


<div class="row">
   <div class="input-field col s12">
        <input  id="software_project_name" type="text" class="validate" required>
          <label for="software_project_name">Name Of Project/Software</label>
   </div>
</div>

<div class="row">
   <div class="input-field col s12">
        <input  id="software_student" type="text" class="validate" required>
          <label for="software_student">Student Members</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="software_staff" type="text" class="validate" required>
          <label for="software_staff">Staff Members</label>
   </div>
</div>
     <div class="row">
       <div class="input-field col s12">
     <center><button id="fac_software_submit" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
     <i class="fa fa-paper-plane right"></i>
  </button></center>
      </div>
     </div>
</div>
 
{% endblock %}



{% block extrajs %}   

  <script type="text/javascript" src="/static/js/faculty/faculty_dashboard.js"></script>
  {% endblock %}