{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     National Journal Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<center><div class="preloader-wrapper big active" style="display:none;margin-top:15%">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
</div></center>

<div class="container body_nat_jour">
<h4>National Journals</h4>
<input type="hidden" id="national_journal_id" value="{{facnatjour.fac_nat_jour_id}}">
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_title" type="text" value="{{facnatjour.fac_nat_jour_title}}" class="validate" required>
          <label for="national_journal_title">Title Of Paper*</label>
   </div>
</div>

<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_author" type="text" value="{{facnatjour.fac_nat_jour_author}}" class="validate" required>
          <label for="national_journal_author">First Author*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_oauthor" type="text" value="{{facnatjour.fac_nat_jour_oauthor}}" class="validate" required>
          <label for="national_journal_oauthor">Other Authors*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_name" type="text" value="{{facnatjour.fac_nat_jour_name}}" class="validate" required>
          <label for="national_journal-name">Name Of Journal*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
       <input id="national_journal_date" class="datepicker" value="{{facnatjour.fac_nat_jour_date | date:'Y-m-d'}}" type="date">
        <label for="national_journal_date">Date of journal*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_volume" type="text" value="{{facnatjour.fac_nat_jour_volume}}" class="validate" required>
          <label for="national_journal_volume">Volume/Issue No/Page No*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_factor" type="text" value="{{facnatjour.fac_nat_jour_impact}}" class="validate">
          <label for="national_journal_factor">Impact factor of the Journal(if any)</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_citation" type="text" value="{{facnatjour.fac_nat_jour_citation}}" class="validate">
          <label for="national_journal_citation">Citation index of the paper(if any)</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="national_journal_indexed" type="text" value="{{facnatjour.fac_nat_jour_status}}" class="validate">
          <label for="national_journal_indexed">Indexed or not/Hyperlink*</label>
   </div>
</div>
<div class="row">
     <div class="input-field col s12">
     {%if not facnatjour %}
     <center><button id="fac_national_journal_submit" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
     <i class="fa fa-paper-plane right"></i>
  </button></center>
    {%else%}
    <center><button id="fac_national_journal_update" class="btn waves-effect waves-light center-align" type="submit" name="action">Update
     <i class="fa fa-paper-plane right"></i>
  </button></center>

    {%endif%}
     </div>
  </div>
</div>
{% endblock %}



{% block extrajs %}   

 <script type="text/javascript" src="/static/js/faculty/faculty_dashboard.js"></script>
 <script type="text/javascript" src="/static/js/faculty/faculty_details_edit.js"></script>


  {% endblock %}