{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}    Publcation Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<center><div class="preloader-wrapper big active" style="display:none;margin-top:15%">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
</div></center>

<div class="container body_seminar">
<h2>Staff Activities</h2>

<h4>Participation in Conferences/Seminars/STTPs/Workshops/Other FDPs</h4>
<input type="hidden" id="seminars_conference_id" value="{{facstaffact.fac_sem_id}}">

<div class="row">
   <div class="input-field col s12">
        <input  id="seminars_conference_faculty" type="text" value="{{facstaffact.fac_sem_facname}}" class="validate" required>
          <label for="seminars_conference_faculty">Name Of Faculty*</label>
   </div>
</div>

<div class="row">
   <div class="input-field col s12">
        <input  id="seminars_conference_place" type="text" value="{{facstaffact.fac_sem_name}}" class="validate" required>
          <label for="seminars_conference_place">Name Of Event/Organising Institute/Place*</label>
   </div>
</div>

<div class="row">
   <div class="input-field col s12" required>
       <input id="seminars_conference_date" class="datepicker"  value="{{facstaffact.fac_sem_date |date:'Y-m-d'}}" type="date">
        <label for="national_conference_date">Date of Seminar*</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="seminars_conference_nature_participation" type="text" value="{{facstaffact.fac_sem_nature}}" class="validate" required>
          <label for="seminars_conference_nature_participation">Nature Of Participation-Delegate/key note speaker/Resource person etc.*</label>
   </div>
</div>

<div class="row">
     <div class="input-field col s12">
     {%if not facstaffact %}
     <center><button id="fac_seminar_submit" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
     <i class="fa fa-paper-plane right"></i>
  </button></center>
  {%else%}
      <center><button id="fac_seminar_update" class="btn waves-effect waves-light center-align" type="submit" name="action">Update
     <i class="fa fa-paper-plane right"></i>
  </button></center>
  {%endif%}

     </div>
  </div>

</div>
{% endblock %}



{% block extrajs %}   

<script type="text/javascript" src="/static/js/faculty/faculty_dashboard.js"></script>
<script type="text/javascript" src="/static/js/faculty/faculty_details_edit.js"></script>
  {% endblock %}