{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Internaltional Journal Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 
							
<div class="container">
<h4>International Journals</h4>


<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_title" type="text" class="validate" required>
          <label for="international_journal_title">Title Of Paper</label>
   </div>
</div>

<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_author" type="text" class="validate" required>
          <label for="international_journal_author">First Author</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_oauthor" type="text" class="validate" required>
          <label for="international_journal_oauthor">Other Authors</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_journal_name" type="text" class="validate" required>
          <label for="international_journal_journal_name">Name Of Journal</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12" required>
       <input id="international_journal_date" type="date">
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_volume" type="text" class="validate" required>
          <label for="international_journal_volume">Volume/Issue No/Page No</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_factor" type="text" class="validate">
          <label for="international_journal_factor">Impact factor of the Journal(if any)</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_citation" type="text" class="validate">
          <label for="international_journal_citation">Citation index of the paper(if any)</label>
   </div>
</div>
<div class="row">
   <div class="input-field col s12">
        <input  id="international_journal_indexed" type="text" class="validate">
          <label for="international_journal_indexed">Indexed or not/Hyperlink</label>
   </div>
</div>

  <div class="row">
     <div class="input-field col s12">
     <center><button id="fac_international_journal" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
     <i class="fa fa-paper-plane right"></i>
  </button></center>
     </div>
  </div>
</div>
{% endblock %}



{% block extrajs %}   
 <script type="text/javascript" src="/static/js/faculty/faculty_dashboard.js"></script>

  {% endblock %}