{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}    Award and Honor Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 



<center><div class="preloader-wrapper big active" style="display:none;margin-top:15%">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
</div></center>

<div class="container body_award">

<h4>Awards and Honors</h4>
<input type="hidden" id="awards_faculty_id" value="{{facawards.fac_awards_id}}">

<div class="row">
   <div class="input-field col s12">
        <input  id="awards_faculty_name" type="text" value="{{facawards.fac_awards_name}}" class="validate" required>
          <label for="awards_faculty_name">Name Of Faculty with Designation*</label>
   </div>
</div>

<div class="row">
  <div class="row">
      <div class="input-field col s12">
          <textarea id="awards_description" value="" class="materialize-textarea">{{facawards.fac_awards_details}}</textarea>
          <label for="awards_description">Brief Description Of Awards and Honors*</label>
      </div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
  {%if not facawards %}
     <center><button id="fac_award_submit" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
     <i class="fa fa-paper-plane right"></i>
  </button></center>
  {%else%}
    <center><button id="fac_award_update" class="btn waves-effect waves-light center-align" type="submit" name="action">Update
     <i class="fa fa-paper-plane right"></i>
  </button></center>
  {%endif%}
  </div>
</div>
</div>
 
{% endblock %}



{% block extrajs %} 
  <script type="text/javascript" src="/static/js/faculty/faculty_dashboard.js"></script>
  <script type="text/javascript" src="/static/js/faculty/faculty_details_edit.js"></script>
  {% endblock %}