{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Admin Search            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<div class="container">
   <div class="row">
    {%for fac_int_conf in fac_int_conf %}
    <a href
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_int_conf.fac_int_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for fac_nat_conf in fac_nat_conf %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_nat_conf.fac_nat_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for stu_conf in stu_conf %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{stu_conf.cand_pap_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{stu_conf.cand_pap_conf_cname}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{stu_conf.cand_pap_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{stu_conf.cand_pap_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}
         {%for fac_int_jour in fac_int_jour %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_int_jour.fac_int_jour_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_jour.fac_int_jour_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_jour.fac_int_jour_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_int_jour.fac_int_jour_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for fac_nat_jour in fac_nat_jour %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_nat_jour.fac_nat_jour_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

         {%for fac_nat_jour in fac_nat_jour %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_jour.fac_nat_jour_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_nat_jour.fac_nat_jour_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for stu_jour in stu_jour %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{stu_jour.cand_jour_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{stu_jour.cand_jour_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{stu_jour.cand_jour_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{stu_jour.cand_jour_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}
      </div>
</div>

{% endblock %}



{% block extrajs %}     {% endblock %}