{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Admin Search            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<div class="container">
   <div class="row">
    {%for fac_int_conf in fac_int_conf %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_int_conf.fac_int_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_int_conf.fac_int_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for fac_nat_conf in fac_nat_conf %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_nat_conf.fac_nat_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}

        {%for fac_nat_conf in fac_nat_conf %}
        <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_title}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_name}}
                 </div>
                  <div class="col l3 s3 m3">
                    {{fac_nat_conf.fac_nat_conf_gusid.gus_name}}
                 </div>
                  <div class="col l3 s3 m3">
                     {{fac_nat_conf.fac_nat_conf_gusid.gus_type}}
                 </div>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}
      </div>
</div>

{% endblock %}



{% block extrajs %}     {% endblock %}