nav{
	background-color: #17375E!important;
}
.slider-border{
	border:solid 5px white;
	padding-bottom: 5px;
}
.heading{
	padding-left:30px;
	font-size: 20px;
}
.search-bar{
	border-radius: 10px;
	height:60px;
}
.para-head{
	background-color: #CCCCCC;
}
.modal-content{
	overflow-x:hidden;
}
.modal{
border-radius: 10px; 
border:solid 8px #17375E;
}
.btn_login,.btn_signup{
	background-color: #17375E!important;
}
#forgotpassword{
	color:#17375E;
}
.slider .indicators .indicator-item.active {
    background-color: #17375E;
}
#materialbox-overlay{
	opacity:0.7!important;
}
.foot{
	height:40px;
	margin-bottom:0px;
	background-color: #17375E!important;
	color:white;
	padding-top:10px;
}
