<!DOCTYPE html>
	<html lang="en">
		{% load staticfiles %}
		<head>
			<title>{% block page_title %}                  {% endblock %}</title>
			<meta content="width=device-width, initial-scale=1.0" name="viewport" />
			<link rel="shortcut icon" href="http://www.srmuniv.ac.in/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon" />
			<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard_index.css">
			{% block extracss %}		{% endblock %}


		</head>
		<body>
			 {%if request.user.gus_type = 'Faculty' %}
				 <ul style="margin-top:64px !important; width:273px !important;" id="dropdown1" class="dropdown-content">
					  <li style="color:#17375e;"><a style="color:#17375e" href="{% url 'fac_natconf' %}">National Conference Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_intconf' %}">Internatonal Conference Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_intjour' %}">International Journal Details</a></li>
					   <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_natjour' %}">National Journal Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_consultancy' %}">Consultancy Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_pub' %}">Publication Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_seminar' %}">Seminar Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_soft_dev' %}">Software Development Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_awards' %}">Awards Details</a></li>
					</ul>
            {% endif %}         

             {%if request.user.gus_type = 'Student' %}
				 <ul style="margin-top:64px !important; width:273px !important;" id="dropdown2" class="dropdown-content">
					  <li style="color:#17375e;"><a style="color:#17375e" href="{% url 'cand_activity' %}">Activities</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_performance' %}">Performances</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_nat_recog' %}">National Recognitions</a></li>
					   <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_initiatives' %}">Initiatives</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_intern' %}">Internship Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_presented' %}">Journals</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_published' %}">Conferences</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_software_development' %}">Software Development Details</a></li>
					</ul>
            {% endif %}    

 

             {%if request.user.gus_type = 'Student' %}
				 <ul style="margin-top:64px !important; width:273px !important;" id="dropdown4" class="dropdown-content">
					  <li style="color:#17375e;"><a style="color:#17375e" href="{% url 'cand_activity' %}">Activities</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_performance' %}">Performances</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_nat_recog' %}">National Recognitions</a></li>
					   <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_initiatives' %}">Initiatives</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_intern' %}">Internship Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_presented' %}">Journals</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_published' %}">Conferences</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_software_development' %}">Software Development Details</a></li>
					</ul>
            {% endif %}         
			 <nav>
				<div class="nav-wrapper">
				   <a href="#!" class="brand-logo"><img class="left" class="responsive-img" src="/media/images/srm.png"
      					style="height:61px;padding-left:13px">&nbsp;CSE</a>
      					 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">
				    <li><a href="#">
				    	<input type="text" class="search" id="myInput" placeholder="search details by reg number" >
				    	<div id="panel"></div>
				    </a></li>
				    <li><a href="#">WELCOME {{request.user.gus_name}}&nbsp;&nbsp;|</a></li>
				    {%if request.user.gus_type = 'Faculty' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">UPLOAD DETAILS&nbsp;&nbsp;|</a></li>
				    {% endif %}

				     {%if request.user.gus_type = 'Student' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">UPLOAD DETAILS&nbsp;&nbsp;|</a></li>
				    {% endif %}


				    <li><a href="{%url 'dashboard' %}">DASHBOARD&nbsp;&nbsp;|</a></li>
				    <li><a href="{% url 'view_details' %}">MY PROFILE&nbsp;&nbsp;|</a></li>
				    <li><a href="{%url 'user_logout' %}">LOG OUT</a></li>
				  </ul>
				  <ul class="side-nav" id="mobile-demo">
        <li style="padding-top:10px"><a href="#"><img class="circle responsive-img" src="{{request.user.get_thumbnail}}" height="40px" width="40px">&nbsp;&nbsp;<div style=" white-space: nowrap; width: 12em;text-overflow: ellipsis;overflow:hidden;margin-top:-78px;margin-left:48px">{{request.user.gus_name}}</div></a></li><div class="divider"></div>
        <div class="divider"></div>
        {%if request.user.gus_type = 'Faculty' %}
       
        <ul class="collapsible" data-collapsible="accordion" style="color:black">
    <li>
      <div class="collapsible-header"><i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>UPLOAD DETAILS</div><div class="divider"></div>
      <div class="collapsible-body">
          <ul>
             <li style="color:#17375e;"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{% url 'fac_natconf' %}">National Conference Details</a></li><hr>
             <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden" href="{%url 'fac_intconf' %}">Internatonal Conference Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{%url 'fac_intjour' %}">International Journal Details</a></li><hr>
					   <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{% url 'fac_natjour' %}">National Journal Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{% url 'fac_consultancy' %}">Consultancy Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{%url 'fac_pub' %}">Publication Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{%url 'fac_seminar' %}">Seminar Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{% url 'fac_soft_dev' %}">Software Development Details</a></li><hr>
					  <li style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden"><a style="color:#17375e" href="{% url 'fac_awards' %}">Awards Details</a></li><hr>
          </ul>
      </div>
    </li>
  </ul>
				    {% endif %}

				     {%if request.user.gus_type = 'Student' %}
				   <ul class="collapsible" data-collapsible="accordion" style="color:black">
    <li>
      <div class="collapsible-header"><i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>UPLOAD DETAILS</div><div class="divider"></div>
      <div class="collapsible-body">
          <ul>
              <li style="color:#17375e;"><a style="color:#17375e; white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{% url 'cand_activity' %}">Activities</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{%url 'cand_performance' %}">Performances</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{%url 'cand_nat_recog' %}">National Recognitions</a></li>
					   <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{% url 'cand_initiatives' %}">Initiatives</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{% url 'cand_intern' %}">Internship Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{%url 'cand_paper_presented' %}">Journals</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{%url 'cand_paper_published' %}">Conferences</a></li>
					  <li style="color:#17375e"><a style="color:#17375e;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;" href="{% url 'cand_software_development' %}">Software Development Details</a></li>
          </ul>
      </div>
    </li>
  </ul>
				    {% endif %}
       
        <li><a href="{%url 'dashboard' %}"><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;DASHBOARD</a></li><div class="divider"></div>
        <li><a href="{% url 'view_details' %}"><i class="fa fa-user fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;MY PROFILE</a></li><div class="divider"></div>
		 <li><a href="{%url 'user_logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;LOG OUT</a></li><div class="divider"></div>
      </ul>
				</div>
				</nav>
 <div class="row">
       
   {%if request.user.gus_permission == 'ADMIN' %}  
    <div class="nav-wrapper" style="background-color:white">
      <a href="#" data-activates="admin_search" class="button-collapse"><img style="margin-top:10px;    margin-left: -1px;
    position: fixed;z-index:999" src="/media/images/admin_search.png"></a>
      
      <ul class="side-nav" id="admin_search" style="top:60px!important">
      <form method="POST" action = "{%url 'admin_detail_search' %}">
      {% csrf_token %}
        <li style="color:black"><center>SEARCH BY :</center></li>
        <li style="margin-top:-19px"><input name="search_type" type="radio" value="journals" id="journal" required/>
                    <label for="journal">Journals</label></li>
        <li style="margin-top:-19px"><input name="search_type" type="radio" value="conferences" id="conference" required/>
                <label for="conference">Conference</label></li>

        <li style="padding-left:8px;padding-right:8px;"><input style="border:solid 1px black;border-radius:5px" name="search_data" type="text" id="search_data" placeholder="&nbsp;&nbsp;&nbsp;Search" required/></li>
        <li><center><input  class="btn waves-effect waves-light" type="submit"  value="search" /></center></li>

        </form>
      </ul>
    </div>
    {%endif%}

			{% block base_content   %}


			



				{% endblock %}






		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	    <script src="/static/js/dashboard/dashboard.js"></script>
	    <script src="/static/js/dashboard/dashboardajax.js"></script>
	    <script>
	    // profile search option javascript
        //$("#panel").slideDown();
        $(document).ready(function(){
        	$(".button-collapse").sideNav();
             $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
        $(document).on('input','#myInput',function(e){
        var x = $('#myInput').val();
        if (x == "")
        {
        	$('#panel').slideUp();
        }
        else
        {
        $('#panel').slideDown();
        $.ajax({
        	  type: 'POST',
              url:'user_profile_search/',
              data:{searchdata: x},              
              success: function(data) {
              	data1=JSON.stringify(data);
		        var arr=JSON.parse(data1);
		        var len=arr.searchdata.length;
                var inc;
                var results='<div class="row" style="margin-bottom:2px;height:40px;"><a style="width:100%" href="foreign_profile/'+arr.searchdata[0].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[0].name+'-'+arr.searchdata[0].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[0].type+'</div>'+'</a></div>';
                for(inc=1;inc<len;inc++)
                {
                	results+='<div class="row" style="margin-bottom:2px;height:40px;"><a style="width:100%" href="foreign_profile/'+arr.searchdata[inc].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[inc].name+'-'+arr.searchdata[inc].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[inc].type+'</div>'+'</a></div>';
                }
                results+='<div class="row" style="margin-bottom:0px;height:10px;">&nbsp;</div>';
                document.getElementById("panel").innerHTML =results;
              }
            
        });
}
 });



  });
	    </script>
	    <script type="text/javascript">
	    	$('.datepicker').pickadate({
			    selectMonths: false, // Creates a dropdown to control month
			    selectYears: 15,
			    format: 'yyyy-mm-dd' // Creates a dropdown of 15 years to control year
			  });


	    </script>
	    {% block extrajs %}			{% endblock %}

		</body>
	</html>
