<!DOCTYPE html>
	<html lang="en">
		{% load staticfiles %}
		<head>
			<title>{% block page_title %}                  {% endblock %}</title>
			<meta content="width=device-width, initial-scale=1.0" name="viewport" />
			<link rel="stylesheet" href="/static/css/materialize.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard_index.css">
			{% block extracss %}		{% endblock %}


		</head>
		<body>

			 <nav>
				<div class="nav-wrapper">
				  <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;SRM UNIVERSITY</a>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">
				    <li><a href="#">
				    	<input type="text" class="search" id="myInput" placeholder="search details by reg number" oninput="myFunction()">
				    	<div id="panel"></div>
				    </a></li>
				    <li><a href="#">WELCOME {{request.user.gus_name}}&nbsp;&nbsp;|</a></li>
				    {%if request.user.gus_type = 'Faculty' %}

                     <li><a class='dropdown-button' href="#" data-activates='dropdown1'>UPLOAD DETAILS&nbsp;&nbsp;|</a></li>

                     <ul id='dropdown1' class='tabs dropdown-content drop'>
                          <li  class="tab"><a href="#act_faculty">Activities</a></li>
                          <li class="tab"><a href="#journal_faculty">journals/conferences</a></li>
                          <li class="tab"><a href="#awards_faculty">Awards</a></li>
                          <li class="tab"><a href="#soft_faculty">software developed</a></li>
                     </ul>


                     

				    {% endif %}
				    <li><a href="{%url 'dashboard' %}">DASHBOARD&nbsp;&nbsp;|</a></li>
				    <li><a href="{% url 'view_details' %}">MY PROFILE&nbsp;&nbsp;|</a></li>
				    <li><a href="{%url 'user_logout' %}">LOG OUT</a></li>
				  </ul>
				</div>
				</nav>

			{% block base_content   %}


			



				{% endblock %}






		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="/static/js/materialize.min.js" type="text/javascript"></script>
	    <script src="/static/js/dashboard/dashboard.js"></script>
	    <script src="/static/js/dashboard/dashboardajax.js"></script>
	    <script>
        //$("#panel").slideDown();
        $(document).on('input','#myInput',function(e){
        var x = $('#myInput').val();
        if (x == "")
        {
        	$('#panel').slideUp();
        }
        else
        {
        $('#panel').slideDown();
        $.ajax({
        	  type: 'POST',
              url:'user_profile_search/',
              data:{searchdata: x},              
              success: function(data) {
              	data1=JSON.stringify(data);
		        var arr=JSON.parse(data1);
		        var len=arr.searchdata.length;
                var inc;
                var results='<div class="row" style="margin-bottom:2px;height:40px;"><a href="foreign_profile/'+arr.searchdata[0].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[0].name+'-'+arr.searchdata[0].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[0].type+'</div>'+'</a></div>';
                for(inc=1;inc<len;inc++)
                {
                	results+='<div class="row" style="margin-bottom:2px;height:40px;"><a href="foreign_profile/'+arr.searchdata[inc].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[inc].name+'-'+arr.searchdata[inc].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[inc].type+'</div>'+'</a></div>';
                }
                results+='<div class="row" style="margin-bottom:0px;height:10px;">&nbsp;</div>';
                document.getElementById("panel").innerHTML =results;
              }
            
        });
}
  });
	    </script>
	    {% block extrajs %}			{% endblock %}

		</body>
	</html>
