<!DOCTYPE html>
	<html lang="en">
		{% load staticfiles %}
		<head>
			<title>{% block page_title %}                  {% endblock %}</title>
			<meta content="width=device-width, initial-scale=1.0" name="viewport" />
			<link rel="shortcut icon" href="http://www.srmuniv.ac.in/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon" />
			<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
			<link rel="stylesheet" href="/static/css/dashboard/dashboard_index.css">
			{% block extracss %}		{% endblock %}


		</head>
		<body>
			 {%if request.user.gus_type = 'Faculty' %}
				 <ul style="margin-top:64px !important; width:273px !important;" id="dropdown1" class="dropdown-content">
					  <li style="color:#17375e;"><a style="color:#17375e" href="{% url 'fac_natconf' %}">National Conference Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_intconf' %}">Internatonal Conference Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_intjour' %}">International Journal Details</a></li>
					   <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_natjour' %}">National Journal Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_consultancy' %}">Consultancy Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_pub' %}">Publication Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'fac_seminar' %}">Seminar Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_soft_dev' %}">Software Development Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'fac_awards' %}">Awards Details</a></li>
					</ul>
            {% endif %}         

             {%if request.user.gus_type = 'Student' %}
				 <ul style="margin-top:64px !important; width:273px !important;" id="dropdown2" class="dropdown-content">
					  <li style="color:#17375e;"><a style="color:#17375e" href="{% url 'cand_activity' %}">Activities</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_performance' %}">Performances</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_nat_recog' %}">National Recognitions</a></li>
					   <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_initiatives' %}">Initiatives</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_intern' %}">Internship Details</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_presented' %}">Journals</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{%url 'cand_paper_published' %}">Conferences</a></li>
					  <li style="color:#17375e"><a style="color:#17375e" href="{% url 'cand_software_development' %}">Software Development Details</a></li>
					</ul>
            {% endif %}         
			 <nav>
				<div class="nav-wrapper">
				   <a href="#!" class="brand-logo"><img class="left" class="responsive-img" src="/media/images/srm.png"
      					style="height:61px;padding-left:13px">&nbsp;SRM UNIVERSITY</a>
      					 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">
				    <li><a href="#">
				    	<input type="text" class="search" id="myInput" placeholder="search details by reg number" >
				    	<div id="panel"></div>
				    </a></li>
				    <li><a href="#">WELCOME {{request.user.gus_name}}&nbsp;&nbsp;|</a></li>
				    {%if request.user.gus_type = 'Faculty' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">UPLOAD DETAILS&nbsp;&nbsp;|</a></li>
				    {% endif %}

				     {%if request.user.gus_type = 'Student' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">UPLOAD DETAILS&nbsp;&nbsp;|</a></li>
				    {% endif %}


				    <li><a href="{%url 'dashboard' %}">DASHBOARD&nbsp;&nbsp;|</a></li>
				    <li><a href="{% url 'view_details' %}">MY PROFILE&nbsp;&nbsp;|</a></li>
				    <li><a href="{%url 'user_logout' %}">LOG OUT</a></li>
				  </ul>
				  <ul class="side-nav" id="mobile-demo">
        <li><a href="#">WELCOME {{request.user.gus_name}}</a></li><div class="divider"></div>
         {%if request.user.gus_type = 'Faculty' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">UPLOAD DETAILS</a></li>
				    {% endif %}

				     {%if request.user.gus_type = 'Student' %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">UPLOAD DETAILS</a></li>
				    {% endif %}<div class="divider"></div>
        <li><a href="{%url 'dashboard' %}">DASHBOARD</a></li><div class="divider"></div>
        <li><a href="{% url 'view_details' %}">MY PROFILE</a></li><div class="divider"></div>
		 <li><a href="{%url 'user_logout' %}">LOG OUT</a></li><div class="divider"></div>
		 <li><a href="#">
				    	<input type="text" class="search" id="myInput1" placeholder="search details by reg number" >
				    	<div id="panel1"></div>
				    </a></li>
      </ul>
				</div>
				</nav>

			{% block base_content   %}


			



				{% endblock %}






		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	    <script src="/static/js/dashboard/dashboard.js"></script>
	    <script src="/static/js/dashboard/dashboardajax.js"></script>
	    <script>
	    // profile search option javascript
        //$("#panel").slideDown();
        $(document).ready(function(){
        	$(".button-collapse").sideNav();

        $(document).on('input','#myInput',function(e){
        var x = $('#myInput').val();
        if (x == "")
        {
        	$('#panel').slideUp();
        }
        else
        {
        $('#panel').slideDown();
        $.ajax({
        	  type: 'POST',
              url:'user_profile_search/',
              data:{searchdata: x},              
              success: function(data) {
              	data1=JSON.stringify(data);
		        var arr=JSON.parse(data1);
		        var len=arr.searchdata.length;
                var inc;
                var results='<div class="row" style="margin-bottom:2px;height:40px;"><a href="foreign_profile/'+arr.searchdata[0].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[0].name+'-'+arr.searchdata[0].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[0].type+'</div>'+'</a></div>';
                for(inc=1;inc<len;inc++)
                {
                	results+='<div class="row" style="margin-bottom:2px;height:40px;"><a href="foreign_profile/'+arr.searchdata[inc].id+'">'+'<div class="col s10 l10 m10">'+arr.searchdata[inc].name+'-'+arr.searchdata[inc].username+'</div>'+'<div class="col s2 l2 m2">'+arr.searchdata[inc].type+'</div>'+'</a></div>';
                }
                results+='<div class="row" style="margin-bottom:0px;height:10px;">&nbsp;</div>';
                document.getElementById("panel").innerHTML =results;
              }
            
        });
}
 });



  });
	    </script>
	    {% block extrajs %}			{% endblock %}

		</body>
	</html>
