{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Department meetings          {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<div class="container">

 <div class="row">

 <div class="col l12">
             <center class="heading bar">Depart Meetings</center>
             <br>
             <marquee BEHAVIOR="alternate" direction="up" scrolldelay="200" style="height:500px" onmouseover="this.stop();"
             onmouseout="this.start();">
             <br><br>



             <ul class="collection">
              {%for mom in mom %}
             <div class="row">  

              <li class="collection-item avatar">
                <img src="/media/images/srm.jpg" alt="" class="circle">

                <div class="row">
                <div class="col l12">
                      <center><span class="title">{{mom.mom_description}}</span></center>
                </div>
                </div>

                <div class="row">
                <div class="col l3">
                      <span class="title">{{mom.mom_movedby}}</span>
                </div>
                <div class="col l3">
                      <span class="title">{{mom.mom_date |date:'M d, Y'}}</span>
                </div>
                <div class="col l3">
                      <span class="title">{{mom.mom_deadline |date:'M d, Y'}}</span>
                </div>
                <div class="col l3">
                      <span class="title">{{mom.mom_venue}}</span>
                </div>
                </div>

              <p>{{mom.mom_followup}} <br><br>
              <center>{{mom.mom_discussion}}</center>
              </p>
              {%if mom.mom_new == 0 %}
              <a href="#!" class="secondary-content"><img height="30px" src="/media/images/new.gif"></a>
              {%endif%}
              </li>



             </div>
            



                <hr>


             {%endfor%}
             </ul>


             </marquee>
   </div>
   </div>
   </div>


{% endblock %}


{% block extrajs %}  

{% endblock %}