{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Minutes of meetings            {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/mom/mom.css">
{% endblock %}



{% block base_content   %} 
<div class="container">
  <h4> <center> List of meetings </center> </h4>
   <div class="row">
{% for mom in mom %}
     <div class="col s12 m12 l12">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                 <div class="col l3 s6 m3">
                    <center>{{mom.mom_description}}</center>
                 </div>
                  <div class="col l3 s6 m3">
                    <center>{{mom.mom_movedby}}</center>
                 </div>
                  <div class="col l2 s6 m2">
                    <center>{{mom.mom_venue}}</center>
                 </div>
                  <div class="col l2 s6 m2">
                    <center>{{mom.mom_date |date:'M d, Y'}}</center>
                 </div>
                 <div class="col l2 s12 m2">
                    <a href="{%url 'minutes_meeting_edit' mom.mom_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="Edit" style="float:right;color:white"></i></a>
                    <a href="{%url 'minutes_meeting_delete' mom.mom_id %}"><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="Remove" style="float:right;padding-right:8px;color:white"></i></a>
                 </div>
              </div>
            </div>
          </div>
          
        </div>

{%endfor%}


   </div>
</div>




{% endblock %}



{% block extrajs %}  
<script src="/static/js/mom/jquery.scrollbox.min.js"></script>
<script type="text/javascript">
	
$('#demo2').scrollbox({
  linear: true,
  step: 1,
  delay: 0,
  speed: 100
});

</script>


{% endblock %}