{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     Minutes of meetings            {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/mom/mom.css">
{% endblock %}



{% block base_content   %} 
<div id="demo2" class="scroll-text">
      <ul>
        <li><a href="http://news.yahoo.com/exclusive-u-directs-agents-cover-program-used-investigate-091643729.html" target="_blank">DEA Mines "National Security" Data To Spy On Americans, Now Concealing Program</a></li>
        <li><a href="http://www.theguardian.com/science/2013/aug/05/google-sergey-brin-synthetic-beef-hamburger" target="_blank">Sergey Brin invests in synthetic beef</a></li>
        <li><a href="http://darling.dolezel.info/en/Darling" target="_blank">OS X emulation layer for Linux</a></li>
        <li><a href="http://www.infinum.co/the-capsized-eight/articles/is-your-android-emulator-just-too-slow" target="_blank">Fast android emulator using Virtualbox</a></li>
        <li><a href="http://nakedsecurity.sophos.com/2013/08/05/latvia-blocking-extradition-of-gozi-writer-thanks-to-disproportionate-us-sentencing/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+nakedsecurity+%28Naked+Security+-+Sophos%29" target="_blank">Latvia blocking extradition of Gozi writer due to disproportionate US sentencing</a></li>
        <li><a href="https://groups.google.com/forum/#!topic/google-tasks-api/T4kKnEDl6so" target="_blank">Please let me know if I should Stop developing apps for Google</a></li>
      </ul>
    </div>





{% endblock %}



{% block extrajs %}  
<script src="/static/js/mom/jquery.scrollbox.min.js"></script>
<script type="text/javascript">
	
$('#demo2').scrollbox({
  linear: true,
  step: 1,
  delay: 0,
  speed: 100
});

</script>


{% endblock %}