<html>

  <head>
       <title>Details</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
       <link rel="stylesheet" href="/static/css/dashboard/dashboard_index.css">
  </head>



  <body>

   <!--navbar-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;SRM UNIVERSITY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Welcome {{request.user.gus_name}}&nbsp;&nbsp;|</a></li>
        <li><a href="#">HOME&nbsp;&nbsp;|</a></li>
        <li><a href="#">WEB MAIL&nbsp;&nbsp;|</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <!--navbar ends-->
     
     <!--tabs-->
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active tab" href="#test1">Activities </a></li>
        <li class="tab col s2"><a class="tab" href="#test2">Performances </a></li>
        <li class="tab col s2"><a class="tab" href="#test3">National  Recognition</a></li>
        <li class="tab col s2"><a class="tab" href="#test4">Initiatives</a></li>
        <li class="tab col s2"><a class="tab" href="#test5">Internship Details</a></li>
        <li class="tab col s2"><a class="tab" href="#test6">Journels/Conferences</a></li>
      </ul>
    </div>

    <div class="container">

    <br><br>

    <!--form one-->
     
    <div id="test1" class="col s12">
         <div class="input-field col s12">
          <input id="nameofevent" type="text" class="validate" autocomplete="off" required>
           <label for="nameofevent">name of event</label>
        </div>
      <br><br>
         <div class="input-field col s12">
          <input id="date" type="text" class="datepicker" autocomplete="off" required>
           <label for="dateofevent">date of event</label>
        </div>
      <br><br>
         <div class="input-field col s12">
          <input id="natureofparticipation" type="text" class="validate" autocomplete="off" required>
           <label for="natureofparticipation">nature of participation</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="prize" type="text" class="validate" autocomplete="off" required>
           <label for="prize">Details of award/prizes won if any</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="year" type="text" class="validate" autocomplete="off" required>
           <label for="year">year/section</label>
        </div>
        <br><br>
             <center> <button class="btn waves-effect waves-light btn_send activity_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
        </div>
    
    <!--form 1 ends-->



    <!--form 2-->
    <div id="test2" class="col s12">
       
        <div class="input-field col s12">
          <input id="nameofexam" type="text" class="validate" autocomplete="off" required>
           <label for="name of exam">name of exam(ex:UPSC-IES, State PSC, GATE, CAT,TOFEL,GRE,GMAT, Others- specify
)</label>
        </div>
      <br><br>
       <div class="input-field col s12">
          <input id="yearofpassing" type="text" class="validate" autocomplete="off" required>
           <label for="year of passing">year of passing</label>
        </div>
      <br><br>
      <div class="input-field col s12">
          <input id="marks" type="text" class="validate" autocomplete="off" required>
           <label for="marks">marks obtained</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="y" type="text" class="validate" autocomplete="off" required>
           <label for="y">year/section</label>
        </div>
      <br><br>
       <center> <button class="btn waves-effect waves-light btn_send performance_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
    </div>
    <!--form2 ends-->

    <!--form 3-->
    <div id="test3" class="col s12">
        <br><br>
         <div class="input-field col s12">
          <input id="recognitions" type="text" class="validate" autocomplete="off" required>
           <label for="recognitions">International/ National recognitions received details</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="yr" type="text" class="validate" autocomplete="off" required>
           <label for="yr">year/section</label>
        </div>
      <br><br>
       <center> <button class="btn waves-effect waves-light btn_send recognition_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
    </div>
    <!--form 3 ends-->

    <!--form 4-->
    <div id="test4" class="col s12">
        <br><br>
         <div class="input-field col s12">
          <input id="univ" type="text" class="validate" autocomplete="off" required>
           <label for="univ">International/National/ State / university</label>
        </div>
         <br><br>
         <div class="input-field col s12">
          <input id="seminar" type="text" class="validate" autocomplete="off" required>
           <label for="seminar">Seminars/ Exhibition/ Competitions etc.</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="event" type="text" class="validate" autocomplete="off" required>
           <label for="event">event</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="place" type="text" class="validate" autocomplete="off" required>
           <label for="place">place</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="d" type="text" class="datepicker" autocomplete="off" required>
           <label for="d">date</label>
        </div>
         <br><br>
             <center> <button class="btn waves-effect waves-light btn_send initiatives_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
    </div>

     <!--form 4 ends-->

     <!--form 5 starts-->
    <div id="test5" class="col s12">
         <br><br>
         <div class="input-field col s12">
          <input id="comp" type="text" class="validate" autocomplete="off" required>
           <label for="comp">company name</label>
        </div>
         <br><br>
         <div class="input-field col s12">
          <input id="sdate" type="text" class="datepicker" autocomplete="off" required>
           <label for="sdate">start date</label>
        </div>
         <br><br>
         <div class="input-field col s12">
          <input id="edate" type="text" class="datepicker" autocomplete="off" required>
           <label for="edate">end date</label>
        </div>
         <br><br>
         <div class="input-field col s12">
          <input id="stipend" type="text" class="validate" autocomplete="off" required>
           <label for="stipend">stipend</label>
        </div>
        <br><br> 
             <center> <button class="btn waves-effect waves-light btn_send internship_button" type="submit" name="action">Submit
             <i class="fa fa-paper-plane right"></i>
             </button></center>
    </div>
    <!--form 5 ends-->

      <!--form 6-->
    <div id="test6" class="col s12">
           <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Papers Published in National/ International Journals</div>
      <div class="collapsible-body">

        <!--form 6.1-->
                
               <div id="test6" class="col s12">
               <br><br>
               <div class="input-field col s12">
          <input id="title" type="text" class="datepicker" autocomplete="off" required>
           <label for="title">title of paper</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="Fauthor" type="text" class="datepicker" autocomplete="off" required>
           <label for="Fauthor">first author</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="oauthors" type="text" class="datepicker" autocomplete="off" required>
           <label for="oauthors">other authors</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="jname" type="text" class="datepicker" autocomplete="off" required>
           <label for="jname">journal name</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="dt" type="text" class="datepicker" autocomplete="off" required>
           <label for="dt">date of publication</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="vol" type="text" class="datepicker" autocomplete="off" required>
           <label for="vol">volume/page number</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="ifactor" type="text" class="datepicker" autocomplete="off" required>
           <label for="ifactor">impact factor</label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="Citationindex" type="text" class="datepicker" autocomplete="off" required>
           <label for="Citationindex">Citation index </label>
        </div>
         <br><br>
               <div class="input-field col s12">
          <input id="Indexed" type="text" class="datepicker" autocomplete="off" required>
           <label for="Indexed">Indexed or not/Hyperlink</label>
        </div>
    
          <center> <button class="btn waves-effect waves-light btn_send journels_button" type="submit" name="action">Submit
          <i class="fa fa-paper-plane right"></i>
          </button></center>
          <hr>
      </div>

        <!--form-->

      </div>
    </li>
    <li>
      <div class="collapsible-header">Papers Presented in in National/ International Conferences</div>
      <div class="collapsible-body">

<!--form 6.2-->   
                <div id="test7" class="col s12">
               <div class="input-field col s12">
          <input id="tt" type="text" class="validate" autocomplete="off" required>
           <label for="tt">title of paper</label>
        </div>
       <br><br>
               <div class="input-field col s12">
          <input id="a" type="text" class="validate" autocomplete="off" required>
           <label for="a">author</label>
        </div>
        <br><br>
         <div class="input-field col s12">
          <input id="cname" type="text" class="validate" autocomplete="off" required>
           <label for="cname">conference name</label>
        </div>
        <div class="input-field col s12">
          <input id="dd" type="text" class="datepicker" autocomplete="off" required>
           <label for="dd">date</label>
        </div>
        <div class="input-field col s12">
          <input id="dr" type="text" class="validate" autocomplete="off" required>
           <label for="dr">duration</label>
        </div>
        <div class="input-field col s12">
          <input id="ins" type="text" class="validate" autocomplete="off" required>
           <label for="ins">institute organizing</label>
        </div>
         <div class="input-field col s12">
          <input id="pl" type="text" class="validate" autocomplete="off" required>
           <label for="pl">place</label>
        </div>
         <div class="input-field col s12">
          <input id="opt" type="text" class="validate" autocomplete="off" required>
           <label for="opt">Presented /Published/ Accepted</label>
        </div>
          <center> <button class="btn waves-effect waves-light btn_send conferences_button" type="submit" name="action">Submit
          <i class="fa fa-paper-plane right"></i>
          </button></center>
          <hr>
<!--form 6.2 ends--></div><br><br>
      </div>


    </li>
     <li>
      <div class="collapsible-header"> Software developed (Societal applications/For University or any other)</div>
      <div class="collapsible-body">
      


      <!--last form-->
 <div class="input-field col s12">
          <input id="soft" type="text" class="validate" autocomplete="off" required>
           <label for="soft">name of software developed</label>
        </div>
        <div class="input-field col s12">
          <input id="mentor" type="text" class="validate" autocomplete="off" required>
           <label for="mentor">Faculty mentor</label>
        </div>
          <center> <button class="btn waves-effect waves-light btn_send Journel_button" type="submit" name="action">Submit
          <i class="fa fa-paper-plane right"></i>
          </button></center>

      <!--last form ends-->

      <br></div>
    </li>
  </ul>
    </div>
    <!--form ends-->


  </div>
  <!--tabs ends-->
  </div>

    <!--footer-->
        
        <!--footer-->


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/static/js/dashboard/dashboard.js"></script>
    <script src="/static/js/dashboard/dashboardajax.js"></script>
   

  </body>



</html>