<html>

  <head>
       <title>View details</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
       <link rel="stylesheet" href="/static/css/dashboard/dashboard_index.css">
  </head>



  <body>

   <!--navbar-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;SRM UNIVERSITY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">HOME&nbsp;&nbsp;|</a></li>
        <li><a href="#">MY PROFILE&nbsp;&nbsp;|</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <!--navbar ends-->

<div class="container">


<!--activities-->
<h4>ACTIVITIES</h4>
<hr>
{% if activity %}
{%for activity in activity%}
<div class="row card">
   <div class="col l6">
      <b>Name of event</b> : {{activity.cand_act_name}}
      
   </div>
   <div class="col l6">
      
      <b>Date of event</b> : {{activity.cand_act_date}}
   </div>
</div>

<div class="row">
   <div class="col l12">
      <b> nature of participation</b> : {{activity.cand_act_nature}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> Details of award/prizes won if any</b> : {{activity.cand_act_prize}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> year/section </b> : {{activity.cand_act_year}}
</div>
</div>

{% endfor %}
{%else%}
<p> No records found </p>

{% endif %}
<!--activities ends-->
<br><br>
<!--performance-->
<h4>PERFORMANCE</h4>
<hr>
{% if performance %}
 <div class="row">
 {%for performance in performance %}
    <div class="col s12 m12 l12  card">
<div class="row">
   <div class="col l12">
      <b>Name of exam</b> : {{performance.cand_per_exam}}
   </div>
</div>

<div class="row">
   <div class="col l12">
      <b> year of passing </b> : {{performance.cand_per_ypass}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> marks obtained </b> : {{performance.cand_per_marks}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> year/section </b> : {{performance.cand_per_year}}
</div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--performance ends-->
<br><br>
<!--national recognition-->
<h4>NATIONAL RECOGNITION</h4>
<hr>
{% if nationalrecognition %}
<div class="row">
    {%for nationalrecognition in nationalrecognition %}
   <div class="col s12 m12 l12 card">
      <div class="row">
         <div class="col l12">
            <b> International/national recognitions recieved </b> : {{nationalrecognition.cand_nat_reg_details}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> year/section </b> : {{nationalrecognition.cand_nat_reg_year}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--national recognition ends-->
<br><br>
<!--initiatives-->
<h4>INITIATIVES</h4>
<hr>
{%if initiatives %}
<div class="row">
  {%for initiatives in initiatives %}
  <div class="col s12 m12 l12 card">
      <div class="row">
         <div class="col l6">
            <b> International/national/state/university </b> : {{initiatives.cand_ini_level}}
      </div>
      <div class="col l6">
            <b> Date </b> : {{initiatives.cand_ini_date}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> seminar/exhibition/compitetion </b> : {{initiatives.cand_ini_name}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> event </b> : {{initiatives.cand_ini_name}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> place </b> : {{initiatives.cand_ini_venue}}
      </div>
      </div>
      {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--initiatives ends-->
<br><br>

<h4>INTERNSHIP</h4>
<hr>
 {%if internship %}
<div class="row">
   {%for internships in internship %}
  <div class="col s12 m12 l12 card">
     
    <div class="row">
       <div class="col l6">
          <b> Company name </b> : {{internships.cand_int_name}}
    </div>
    <div class="col l6">
          <b>Date </b> : {{internships.cand_int_start}} to {{internships.cand_int_end}}
    </div>
    </div>
    <div class="row">
       <div class="col l12">
          <b> Stipend </b> :{{internships.cand_int_stipend}}
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--internship ends-->
<br><br>
<!--journel/conference-->
<h4>JOURNEL/CONFERENCE</h4>
<hr>
Papers Published in National/ International Journals<hr>
<br>
{%if candidatejournals %}
<div class="row">
  {%for candidatejournals in candidatejournals %}
  <div class="col s12 m12 l12 card">
    <div class="row">
     <div class="col l6">
       <b>Title of paper</b> : {{candidatejournals.cand_jour_title}}
     </div>
     <div class="col l6">
       <b>Date of publication</b> : {{candidatejournals.cand_jour_date}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>First author</b> : {{candidatejournals.cand_jour_fauthor}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Other authors</b> : {{candidatejournals.cand_jour_oauthor}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Volume/page number</b> : {{candidatejournals.cand_jour_vol}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Impact factor</b> : {{candidatejournals.cand_jour_impact}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Citation index</b> : {{candidatejournals.cand_jour_citation}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Indexed or not/hyperlinked</b> : {{candidatejournals.cand_jour_indexed}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>
{%else%}
<p> No records found </p>
{% endif %}


<br><br>

Papers Presented in in National/ International Conferences<hr>
<br>
{%if candidatepaperconference %}
<div class="row">
  {% for candidatepaperconference in candidatepaperconference %}
  <div class="col s12 m12 l12 card">
    <div class="row">
     <div class="col l6">
       <b>Title of paper</b> : {{candidatepaperconference.cand_pap_conf_title}}
     </div>
     <div class="col l6">
       <b>Date</b> : {{candidatepaperconference.cand_pap_conf_date}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Author</b> : {{candidatepaperconference.cand_pap_conf_author}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Conference name</b> : {{candidatepaperconference.cand_pap_conf_cname}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Institute organizing</b> : {{candidatepaperconference.cand_pap_conf_org}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Place</b> : {{candidatepaperconference.cand_pap_conf_venue}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Presented/Published/Accepted</b> : {{candidatepaperconference.cand_pap_conf_status}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}

<br><br>

Software Developed<hr>
<br>
{% if candidatedev %}
<div class="row">
  {% for candidatedev in candidatedev %}
  <div class="col s12 m12 l12 card">
    <div class="row">
     <div class="col l12">
       <b>Name of software</b> : {{candidatedev.cand_dev_name}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Faculty mentor</b> : {{candidatedev.cand_dev_faculty}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}
<p> No records found </p>
{% endif %}

<!--journel / conference ends-->

</div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="../js/details.js"></script>
   

  </body>



</html>