<html>

  <head>
       <title>View details</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="../css/index.css">
       <link rel="stylesheet" href="../css/details.css">
  </head>



  <body>

   <!--navbar-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;SRM UNIVERSITY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">HOME&nbsp;&nbsp;|</a></li>
        <li><a href="#">WEB MAIL&nbsp;&nbsp;|</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <!--navbar ends-->

<div class="container">


<!--activities-->
<h4>ACTIVITIES</h4>
<hr>

<div class="row">
   <div class="col l6">
      <b>Name of event</b> : event1
      
   </div>
   <div class="col l6">
      
      <b>Date of event</b> : 25/02/2001
   </div>
</div>

<div class="row">
   <div class="col l12">
      <b> nature of participation</b> : xyz
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> Details of award/prizes won if any</b> : xyz
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> year/section </b> : xyz
</div>
</div>
<!--activities ends-->
<br><br>
<!--performance-->
<h4>PERFORMANCE</h4>
<hr>

<div class="row">
   <div class="col l12">
      <b>Name of exam</b> : event1
   </div>
</div>

<div class="row">
   <div class="col l12">
      <b> year of passing </b> : xyz
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> marks obtained </b> : xyz
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> year/section </b> : xyz
</div>
</div>
<!--performance ends-->
<br><br>
<!--national recognition-->
<h4>NATIONAL RECOGNITION</h4>
<hr>

<div class="row">
   <div class="col l12">
      <b> International/national recognitions recieved </b> : xyz
</div>
</div>
<div class="row">
   <div class="col l12">
      <b> year/section </b> : xyz
</div>
</div>

<!--national recognition ends-->
<br><br>
<!--initiatives-->
<h4>INITIATIVES</h4>
<hr>
<div class="row">
   <div class="col l6">
      <b> International/national/state/university </b> : xyz
</div>
<div class="col l6">
      <b> Date </b> : 2/5/2016
</div>
</div>
<div class="row">
   <div class="col l12">
      <b> seminar/exhibition/compitetion </b> : xyz
</div>
</div>
<div class="row">
   <div class="col l12">
      <b> event </b> : xyz
</div>
</div>
<div class="row">
   <div class="col l12">
      <b> place </b> : xyz
</div>
</div>

<!--initiatives ends-->
<br><br>

<h4>INTERNSHIP</h4>
<hr>
<div class="row">
   <div class="col l6">
      <b> company name </b> : xyz
</div>
<div class="col l6">
      <b>date </b> : start date-end date
</div>
</div>
<div class="row">
   <div class="col l12">
      <b> stipend </b> :1200
</div>
</div>
<!--internship ends-->
<br><br>
<!--journel/conference-->
<h4>JOURNEL/CONFERENCE</h4>
<hr>
Papers Published in National/ International Journals<hr>
<br>
<div class="row">
 <div class="col l6">
   <b>Title of paper</b> : paper
 </div>
 <div class="col l6">
   <b>Date of publication</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>First author</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Other authors</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Volume/page number</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Impact factor</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Citation index</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Indexed or not/hyperlinked</b> : paper
 </div>
</div>

<br><br>

Papers Presented in in National/ International Conferences<hr>
<br>
<div class="row">
 <div class="col l6">
   <b>Title of paper</b> : paper
 </div>
 <div class="col l6">
   <b>Date</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>author</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Conference name</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Institute organizing</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>place</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Presented/Published/Accepted</b> : paper
 </div>
</div>

<br><br>

Software Developed<hr>
<br>
<div class="row">
 <div class="col l12">
   <b>Name of software</b> : paper
 </div>
</div>
<div class="row">
 <div class="col l12">
   <b>Faculty mentor</b> : paper
 </div>
</div>

<!--journel / conference ends-->

</div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="../js/details.js"></script>
   

  </body>



</html>