{% extends 'bases/base.html' %}
{% load staticfiles %}


{% block page_title %}     My Details            {% endblock %}

{% block extracss %}

{% endblock %}



{% block base_content   %} 

<div class="container">
{%ifequal gus_type  "Student" %}

 <br>
 <div class="row card">
    <div class="col l4 s12">
       <center><img class="circle responsive-img" src="{{request.user.get_thumbnail}}">
    </center>
    </div>
    <div class="col offset-l1 l3 s12">
    <br><br>
     <center> <b>Name</b> : {{request.user.gus_name}} <br><br>
      <b>Register Number</b> : {{request.user.gus_username}} </center>
    </div>
    <div class="col offset-l1 l3 s12">
    <br><br>
      <b>Designation</b> : {{request.user.gus_type}} </center>
    </div>
 </div>


<!--activities-->
<h4>ACTIVITIES</h4>
<hr>
{% if activity %}
<div class="row">
{%for activity in activity%}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="Remove" style="float:right;padding-right:8px;color:black"></i></a>
      <div class="row">
         <div class="col l6">
            <b>Name of event</b> : {{activity.cand_act_name}}
            
         </div>
         <div class="col l6">
            
            <b>Date of event</b> : {{activity.cand_act_date}}
         </div>
      </div>

      <div class="row">
         <div class="col l12">
            <b> nature of participation</b> : {{activity.cand_act_nature}}
      </div>
      </div>

      <div class="row">
         <div class="col l12">
            <b> Details of award/prizes won if any</b> : {{activity.cand_act_prize}}
      </div>
      </div>

      <div class="row">
         <div class="col l12">
            <b> year/section </b> : {{activity.cand_act_year}}
      </div>
      </div>
  </div>
{% endfor %}
</div>
{%else%}
<p> No records found </p>

{% endif %}
<!--activities ends-->
<br><br>
<!--performance-->
<h4>PERFORMANCE</h4>
<hr>
{% if performance %}
 <div class="row">
 {%for performance in performance %}
    <div class="col s12 m12 l12  card">
     <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
<div class="row">
   <div class="col l12">
      <b>Name of exam</b> : {{performance.cand_per_exam}}
   </div>
</div>

<div class="row">
   <div class="col l12">
      <b> year of passing </b> : {{performance.cand_per_ypass}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> marks obtained </b> : {{performance.cand_per_marks}}
</div>
</div>

<div class="row">
   <div class="col l12">
      <b> year/section </b> : {{performance.cand_per_year}}
</div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--performance ends-->
<br><br>
<!--national recognition-->
<h4>NATIONAL RECOGNITION</h4>
<hr>
{% if nationalrecognition %}
<div class="row">
    {%for nationalrecognition in nationalrecognition %}
   <div class="col s12 m12 l12 card">
    <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
      <div class="row">
         <div class="col l12">
            <b> International/national recognitions recieved </b> : {{nationalrecognition.cand_nat_reg_details}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> year/section </b> : {{nationalrecognition.cand_nat_reg_year}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--national recognition ends-->
<br><br>
<!--initiatives-->
<h4>INITIATIVES</h4>
<hr>
{%if initiatives %}
<div class="row">
  {%for initiatives in initiatives %}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
      <div class="row">
         <div class="col l6">
            <b> International/national/state/university </b> : {{initiatives.cand_ini_level}}
      </div>
      <div class="col l6">
            <b> Date </b> : {{initiatives.cand_ini_date}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> seminar/exhibition/compitetion </b> : {{initiatives.cand_ini_name}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> event </b> : {{initiatives.cand_ini_name}}
      </div>
      </div>
      <div class="row">
         <div class="col l12">
            <b> place </b> : {{initiatives.cand_ini_venue}}
      </div>
      </div>
      {% endfor %}
</div>
</div>
{% else %}

<p> No records found </p>
{% endif %}
<!--initiatives ends-->
<br><br>

<h4>INTERNSHIP</h4>
<hr>
 {%if internship %}
<div class="row">
   {%for internships in internship %}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
     
    <div class="row">
       <div class="col l6">
          <b> Company name </b> : {{internships.cand_int_name}}
    </div>
    <div class="col l6">
          <b>Date </b> : {{internships.cand_int_start}} to {{internships.cand_int_end}}
    </div>
    </div>
    <div class="row">
       <div class="col l12">
          <b> Stipend </b> :{{internships.cand_int_stipend}}
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}
<!--internship ends-->
<br><br>
<!--journel/conference-->
<h4>JOURNEL/CONFERENCE</h4>
<hr>
Papers Published in National/ International Journals<hr>
<br>
{%if candidatejournals %}
<div class="row">
  {%for candidatejournals in candidatejournals %}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    <div class="row">
     <div class="col l6">
       <b>Title of paper</b> : {{candidatejournals.cand_jour_title}}
     </div>
     <div class="col l6">
       <b>Date of publication</b> : {{candidatejournals.cand_jour_date}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>First author</b> : {{candidatejournals.cand_jour_fauthor}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Other authors</b> : {{candidatejournals.cand_jour_oauthor}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Volume/page number</b> : {{candidatejournals.cand_jour_vol}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Impact factor</b> : {{candidatejournals.cand_jour_impact}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Citation index</b> : {{candidatejournals.cand_jour_citation}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Indexed or not/hyperlinked</b> : {{candidatejournals.cand_jour_indexed}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>
{%else%}
<p> No records found </p>
{% endif %}


<br><br>

Papers Presented in in National/ International Conferences<hr>
<br>
{%if candidatepaperconference %}
<div class="row">
  {% for candidatepaperconference in candidatepaperconference %}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    <div class="row">
     <div class="col l6">
       <b>Title of paper</b> : {{candidatepaperconference.cand_pap_conf_title}}
     </div>
     <div class="col l6">
       <b>Date</b> : {{candidatepaperconference.cand_pap_conf_date}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Author</b> : {{candidatepaperconference.cand_pap_conf_author}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Conference name</b> : {{candidatepaperconference.cand_pap_conf_cname}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Institute organizing</b> : {{candidatepaperconference.cand_pap_conf_org}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Place</b> : {{candidatepaperconference.cand_pap_conf_venue}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Presented/Published/Accepted</b> : {{candidatepaperconference.cand_pap_conf_status}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p> No records found </p>
{% endif %}

<br><br>

Software Developed<hr>
<br>
{% if candidatedev %}
<div class="row">
  {% for candidatedev in candidatedev %}
  <div class="col s12 m12 l12 card">
   <a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    <div class="row">
     <div class="col l12">
       <b>Name of software</b> : {{candidatedev.cand_dev_name}}
     </div>
    </div>
    <div class="row">
     <div class="col l12">
       <b>Faculty mentor</b> : {{candidatedev.cand_dev_faculty}}
     </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}
<p> No records found </p>
{% endif %}

<!--journel / conference ends-->
</div>
{% endifequal %}

{%ifequal gus_type  "Faculty" %}
 
 <br>
 <div class="row card">
   <center><img class="circle responsive-img" src="{{request.user.get_thumbnail}}">
    </center>
    </div>
    <div class="col offset-l1 l3 s12">
    <br><br>
     <center> <b>Name</b> : {{request.user.gus_name}} <br><br>
      <b>Register Number</b> : {{request.user.gus_username}} </center>
    </div>
    <div class="col offset-l1 l3 s12">
    <br><br>
      <b>Designation</b> : {{request.user.gus_type}} </center>
    </div>
 </div>


<h4> National Conferences </h4>
<hr>

<div class="row">
  {%if facnatconf %}
    {%for facnatconf in facnatconf %}
  <div class="col s12 m12 l12 card">
    {%if not foreign_profile %}
   <a href="{% url 'fac_nat_conf_edit' facnatconf.fac_nat_conf_id %} "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Title of the Paper:</b> {{facnatconf.fac_nat_conf_title}}
      </div>
       <div class="col s6 m6 l6">
        <b>Author:</b> {{facnatconf.fac_nat_conf_author}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Conference Name:</b> {{facnatconf.fac_nat_conf_name}}
      </div>
       <div class="col s6 m6 l6">
        <b>Name of Journal:</b> {{facnatconf.fac_nat_conf_journame}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Conference Date:</b> {{facnatconf.fac_nat_conf_date}}
      </div>
       <div class="col s6 m6 l6">
        <b>Venue:</b> {{facnatconf.fac_nat_conf_venue}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Presented/Published/Accepted:</b> {{facnatconf.fac_nat_conf_status}}
      </div>
    </div>

  </div>
    {%endfor%}
  {% else %}
  <div class="row">
    <div class="col s12 m12 l12">
       <p> No Records Found </p>
     </div>
   </div>
  {%endif%}
</div>



<h4> International Conferences </h4>
<hr>
<div class="row">
  {%if facintconf %}
    {%for facintconf in facintconf %}
  <div class="col s12 m12 l12 card">
    {%if not foreign_profile %}
   <a href="{%url 'fac_int_conf_edit' facintconf.fac_int_conf_id %} "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Title of the Paper:</b> {{facintconf.fac_int_conf_title}}
      </div>
       <div class="col s6 m6 l6">
        <b>Author:</b> {{facintconf.fac_int_conf_author}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Conference Name:</b> {{facintconf.fac_int_conf_name}}
      </div>
       <div class="col s6 m6 l6">
        <b>Name of Journal:</b> {{facintconf.fac_int_conf_journame}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Conference Date:</b> {{facintconf.fac_int_conf_date}}
      </div>
       <div class="col s6 m6 l6">
        <b>Venue:</b> {{facintconf.fac_int_conf_venue}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Presented/Published/Accepted:</b> {{facintconf.fac_int_conf_status}}
      </div>
    </div>

  </div>
  {%endfor%}
  {%else%}
  <p> No Records Found </p>
  {%endif%}
</div>



<h4> International Journals </h4>
<hr>
<div class="row">
  {%if facintjour %}
    {%for facintjour in facintjour %}
  <div class="col s12 m12 l12 card">
   {%if not foreign_profile %}
   <a href="{%url 'fac_int_jour_edit' facintjour.fac_int_jour_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
   {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Title of the Paper:</b> {{facintjour.fac_int_jour_title}}
      </div>
       <div class="col s6 m6 l6">
        <b> First Author:</b> {{facintjour.fac_int_jour_author}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Other Authors:</b> {{facintjour.fac_int_jour_oauthor}}
      </div>
       <div class="col s6 m6 l6">
        <b>Name of Journal:</b> {{facintjour.fac_int_jour_name}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Publication Date:</b> {{facintjour.fac_int_jour_date}}
      </div>
       <div class="col s6 m6 l6">
        <b>Volume/Issue/Page No:</b> {{facintjour.fac_int_jour_vol}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Impact Factor of Journal:</b> {{facintjour.fac_int_jour_impact}}
      </div>
       <div class="col s6 m6 l6">
        <b>Citation Index of Paper:</b> {{facintjour.fac_int_jour_citation}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Hyperlink:</b> {{facintjour.fac_int_jour_status}}
      </div>
    </div>

  </div>
  {%endfor%}
  {%else%}
  <p>No Records Found</p>
  {%endif%}
</div>


<h4> National Journals </h4>
<hr>
<div class="row">
  {%if facnatjour %}
  {%for facnatjour in facnatjour %}
  <div class="col s12 m12 l12 card">
   {%if not foreign_profile %}
   <a href="{%url 'fac_nat_jour_edit' facnatjour.fac_nat_jour_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Title of the Paper:</b> {{facnatjour.fac_nat_jour_title}}
      </div>
       <div class="col s6 m6 l6">
        <b> First Author:</b> {{facnatjour.fac_nat_jour_author}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Other Authors:</b> {{facnatjour.fac_nat_jour_oauthor}}
      </div>
       <div class="col s6 m6 l6">
        <b>Name of Journal:</b> {{facnatjour.fac_nat_jour_name}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Publication Date:</b> {{facnatjour.fac_nat_jour_date}}
      </div>
       <div class="col s6 m6 l6">
        <b>Volume/Issue/Page No:</b> {{facnatjour.fac_nat_jour_volume}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Impact Factor of Journal:</b> {{facnatjour.fac_nat_jour_impact}}
      </div>
       <div class="col s6 m6 l6">
        <b>Citation Index of Paper:</b> {{facnatjour.fac_nat_jour_citation}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Hyperlink:</b> {{facnatjour.fac_nat_jour_status}}
      </div>
    </div>

  </div>
  {%endfor%}
  {%else%}
  <p> No Records Found </p>
  {%endif%}
</div>


<h4> Consultancy Activities </h4>
<hr>
<div class="row">
  {%if facconsultancy %}
    {%for facconsultancy in facconsultancy %}
  <div class="col s12 m12 l12 card">
  {%if not foreign_profile %}
   <a href="{%url 'fac_consultancy_edit' facconsultancy.fac_con_act_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
   {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Nature Of Actvity:</b> {{facconsultancy.fac_con_act_nature}}
      </div>
       <div class="col s6 m6 l6">
        <b> Client:</b> {{facconsultancy.fac_con_act_client}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Associated Department:</b> {{facconsultancy.fac_con_act_dept}}
      </div>
       <div class="col s6 m6 l6">
        <b>Revenue Earned:</b> {{facconsultancy.fac_con_act_revenue}}
      </div>
    </div>

  </div>
  {% endfor %}
  {%else%}
  <p> No records found </p>
  {%endif%}
</div>



<h4> Publications </h4>
<hr>
<div class="row">
  {%if facpub %}
  {%for facpub in facpub %}
  <div class="col s12 m12 l12 card">
  {%if not foreign_profile %}
   <a href="{%url 'fac_pub_edit' facpub.fac_man_pub_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Title Of Book:</b> {{facpub.fac_man_pub_title}}
      </div>
       <div class="col s6 m6 l6">
        <b> Name Of Authors:</b> {{facpub.fac_man_pub_author}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Publishers:</b> {{facpub.fac_man_pub_publisher}}
      </div>
       <div class="col s6 m6 l6">
        <b>Year Of First Edition:</b> {{facpub.fac_man_pub_fedition}}
      </div>
    </div>

     <div class="row">
      <div class="col s6 m6 l6">
        <b>Other Editions:</b> {{facpub.fac_man_pub_oedition}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Book/Monograph/Manual etc:</b> {{facpub.fac_man_pub_details}}
      </div>
    </div>

  </div>
  {%endfor%}

  {%else%}
 <p>No Records Found</p>
  {%endif%}
</div>


<h4> Staff Activities </h4>
<hr>
<div class="row">
  {% if  facstaffact %}
    {%for facstaffact in facstaffact %}
  <div class="col s12 m12 l12 card">
  {%if not foreign_profile %}
   <a href="{%url 'fac_seminar_edit' facstaffact.fac_sem_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
   {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Name Of Faculty:</b> {{facstaffact.fac_sem_facname}}
      </div>
       <div class="col s6 m6 l6">
        <b> Name Of Event/Organising Institute/Place:</b> {{facstaffact.fac_sem_name}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Date of Publication:</b> {{facstaffact.fac_sem_date}}
      </div>
       <div class="col s6 m6 l6">
        <b>Nature Of Participation:</b> {{facstaffact.fac_sem_nature}}
      </div>
    </div>

  </div>
    {%endfor%}
    {%else%}
    <p> No Records Found </p>
  {%endif%}
</div>


<h4> Software Development </h4>
<hr>
<div class="row">
  {%if facsoftdev %}
    {%for facsoftdev in facsoftdev %}
  <div class="col s12 m12 l12 card">
  {%if not foreign_profile %}
   <a href="{%url 'fac_soft_dev_edit' facsoftdev.fac_soft_dev_id %} "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
    {%endif%}
    <div class="row">
      <div class="col s6 m6 l6">
        <b>Name Of Project:</b> {{facsoftdev.fac_soft_dev_name}}
      </div>
       <div class="col s6 m6 l6">
        <b> Student Members:</b> {{facsoftdev.fac_soft_dev_student}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <b>Staff Members:</b> {{facsoftdev.fac_soft_dev_staff}}
      </div>
    </div>

  </div>
  {%endfor%}
  {%else%}
  <p> No Records Found </p>
  {%endif%}
</div>


<h4> Awards and Honors </h4>
<hr>
<div class="row">
  {%if facawards %}
  <div class="col s12 m12 l12">
    {%for facawards in facawards %}
    <div class="row  card">
    {%if not foreign_profile %}
     <a href="{%url 'fac_awards_edit' facawards.fac_awards_id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="edit" style="float:right;color:black"></i></a>
   <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="delete" style="float:right;padding-right:8px;color:black"></i></a>
      {%endif%}
      <div class="col s12 m12 l12">
        <b>Name Of Faculty with Designation:</b> {{facawards.fac_awards_name}}
      </div>
       <div class="col s12 m12 l12">
        <b> Brief Description Of Awards and Honors:</b> {{facawards.fac_awards_details}}
      </div>
    </div>
    {% endfor %}
  </div>
  {%else%}
  <p> No records found </p>
  {%endif%}
</div>


{% endifequal %}



{% endblock %}



{% block extrajs %}     {% endblock %}

